wowser form

  fieldset
    display: block
    border: 0
    padding: 0
    margin: .5em
    border-top: 1px solid transparent

  label
    display: block
    color: #999999
    font-size: 14px
    margin: .7em 0 .1em

  input, select, textarea
    padding: .2em .3em
    background-color: #111111
    border-width: 1px
    border-style: solid
    border-color: #333333 #666666 #666666 #333333
    border-radius: 6px
    color: #FFFFFF
    font-size: 14px
    -webkit-font-smoothing: antialiased
    outline: none
    margin-bottom: .3em
