section.panel(data-ng-controller='Wowser.UI.Realms.Screen as realm')
  h1 Realm Selection

  .divider

  form(data-ng-submit='realm.connect()')
    fieldset
      select(data-ng-model='realm.selected' data-ng-options='r.name for r in realm.session.realms.list')

    .divider

    input(type='submit' value='Connect' autofocus)
    input(type='button' data-ng-click='realm.refresh()' value='Refresh')
