<game class="game screen">

  <canvas name="canvas"></canvas>
  <hud />
  <controls for="{ session.player }" camera="{ camera }" />

  <script>
    var THREE = Wowser.dependencies.THREE;

    this.session = opts.session;

    this.scene = this.session.world.scene;

    aspectRatio() {
      return window.innerWidth / window.innerHeight;
    }

    this.camera = new THREE.PerspectiveCamera(60, this.aspectRatio(), 1, 1000);
    this.camera.up.set(0, 0, 1);
    this.camera.position.set(15, 0, 7);

    this.renderer = new THREE.WebGLRenderer({
      alpha: true,
      canvas: this.canvas
    });

    resize() {
      this.renderer.setSize(window.innerWidth, window.innerHeight);
      this.camera.aspect = this.aspectRatio();
      this.camera.updateProjectionMatrix();
    }

    animate() {
      requestAnimationFrame(function() {
        this.renderer.render(this.scene, this.camera);
        this.animate();
      }.bind(this));
    }

    window.addEventListener('resize', this.resize);

    this.on('mount', function() {
      this.animate();
      this.resize();
    });
  </script>
</game>
