var Conf = {
    "welcome" : "Welcome to wowser client",
    "slogan" : "Browser JavaScript and WebGL Game Client",
    "serverhost" : window.location.hostname,
    "authport" : "3724"
}

module.exports = Conf;