{
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions",
    "transform-function-bind",
    "transform-es2015-block-scoping",
    "transform-es2015-parameters",
    "add-module-exports",
    "transform-es2015-modules-commonjs"
  ]
}
