wowser .divider
  border-style: solid

  &, &.horizontal
    border-width: 3px 5px 0 5px
    border-image: url('./images/horizontal.png') 3 5 0 5 repeat

    &.thick
      border-width: 11px 5px 0 5px
      border-image: url('./images/thick-horizontal.png') 11 5 0 5 repeat
