<kit class="screen">
  <div class="frame thin">
    <h2>Thin frame</h2>
    <div class="divider"></div>
    <p>
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    </p>
    <div class="divider thick"></div>
    <button>Regular button</button>
    <button disabled>Disabled button</button>
    <input type="submit" value="Regular submit" />
    <input type="submit" value="Disabled submit" disabled />
  </div>

  <div class="frame thick">
    <h2>Thick frame</h2>
    <div class="divider"></div>
    <p>
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    </p>
  </div>

  <div class="panel">
    <div class="icon portrait"></div>
    <h1>Regular panel</h1>
    <div class="divider"></div>
    <p>
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    </p>
  </div>

  <div class="panel headless">
    <div class="icon portrait"></div>
    <h1>Headless panel</h1>
    <div class="divider thick"></div>
    <p>
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    </p>
  </div>
</kit>
