wowser .chat
  position: absolute
  bottom: 0
  left: 0
  max-width: 800px
  min-width: 230px
  max-height: 100%
  min-height: 320px
  z-index: 9000

  .chat-box
    height: 245px

  ul
    max-width: 900px
    padding: 0
    margin: .4em
    list-style: none
    overflow: auto

  .message
    font-size: 14px
    margin-bottom: 5px;

    &.system
      color: #FFCC00

    &.me
      color: #D2691E

    &.me
      color: #D2691E

    &.yell
      color: #B22222

    &.info
      color: #26C9FF

    &.error
      color: #FF0000

    &.channel
      color: #FFB872

    &.whisper
      color: #FF72FF

    &.guild
      color: #2CB200

  form
    margin: 2px 5px

    input
      width: 100%
    
    .wisp-form
      width:   100%
      display: table
      
      .wisp-to
        display: table-cell
        width:80px;
      
      .wisp-input
        display: table-cell

  .ReactTabs__TabList
    height: auto;
    overflow: hidden;
