wowser .portrait
  display: block
  position: relative
  width: 178px
  height: 60px
  background: url('./images/portrait.png') no-repeat

  .icon
    position: absolute
    top: -4px
    left: -4px
    z-index: 1

  .name
    position: absolute
    top: 4px
    left: 64px
    color: #FFCC00
    font-size: 15px

  .level
    position: absolute
    top: 6px
    right: 12px
    font-size: 11px

  .divider
    position: absolute
    top: 20px
    right: 3px
    width: 113px

  .health, .mana
    width: 115px
    border-radius: 4px
    font-size: 12px
    line-height: 11px
    text-shadow: 1px 1px 0px #000000
    text-align: center

  .health
    position: absolute
    bottom: 23px
    right: 6px
    background-image: linear-gradient(180deg, #330000 0%, #990000 100%)
    box-shadow: -1px -1px 0px #660000, 1px 1px 0px #E50202

  .mana
    position: absolute
    bottom: 7px
    right: 20px
    background-image: linear-gradient(180deg, #021D39 0%, #0B4C93 100%)
    box-shadow: -1px -1px 0px #063467, 1px 1px 0px #146CD0

  &.self
    position: absolute
    top: 12px
    left: 12px

  &.target
    position: absolute
    top: 12px
    left: 210px

wowser .icon.portrait
  width: 66px
  height: 66px
  background: url('./images/icon-portrait.png') no-repeat
