<section class="panel" data-ng-controller="Wowser.UI.Screens.Authentication as auth">
  <h1>Authentication</h1>

  <div class="divider"></div>

  <p>
    <strong>Note:</strong> Wowser requires a WebSocket proxy, see the README on GitHub.
  </p>

  <form data-ng-submit="auth.connect()">
    <fieldset>
      <label>Host</label>
      <input type="text" data-ng-model="auth.host" />

      <label>Port</label>
      <input type="number" data-ng-model="auth.port" />
    </fieldset>

    <fieldset>
      <label>Username</label>
      <input type="text" data-ng-model="auth.username" autofocus />

      <label>Password</label>
      <input type="password" data-ng-model="auth.password" />
    </fieldset>

    <div class="divider"></div>

    <input type="submit" value="Connect" />
  </form>
</section>
