<canvas data-ng-controller="Wowser.UI.Screens.World as world"></canvas>

<div class="hud">
  <div data-ng-include="'assets/portraits/self.html'"></div>
  <div data-ng-include="'assets/portraits/target.html'"></div>
  <div data-ng-include="'assets/panels/chat.html'"></div>
  <div data-ng-include="'assets/panels/quest-log.html'"></div>

  <!--
  <div class="frame thin">
    <h2>Thin frame</h2>
    <div class="divider"></div>
    <p>
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    </p>
    <div class="divider thick"></div>
    <button>Regular</button>
    <button disabled>Disabled</button>
    <input type="submit" value="Regular" />
    <input type="submit" value="Disabled" disabled />
  </div>

  <div class="frame thick">
    <h2>Thick frame</h2>
    <div class="divider"></div>
    <p>
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    </p>
  </div>

  <div class="panel">
    <div class="icon portrait"></div>
    <h1>Regular panel</h1>
    <div class="divider"></div>
    <p>
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    </p>
  </div>

  <div class="panel headless">
    <div class="icon portrait"></div>
    <h1>Headless panel</h1>
    <div class="divider thick"></div>
    <p>
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
    </p>
  </div>
  -->
</div>
