section.chat(data-ng-controller='Wowser.UI.Panels.Chat as chat')
  div.frame
    ul
      li.message.system Welcome to Wowser!
      li.message.system This is a very alpha-ish build. Do not expect miracles.

      li.message.info This is an info message
      li.message.error This is an error message
      li.message.area KaZooM: This is a message emitted nearby
      li.message.channel [Trade]: This is a channel message
      li.message.whisper.outgoing To Someone: This is an outgoing whisper
      li.message.whisper.incoming Someone: This is an incoming whisper
      li.message.guild [Guild] Someone: This is a guild message

      li.message(data-ng-repeat='message in chat.session.chat.messages') {{message.text}}

  form(data-ng-submit='chat.send()')
    input(type='text' value='' data-ng-model='chat.message')
